<div class="card">

	<p class="card-prominent">{{yield}}</p>

	<span class="card-project">{{fa-icon 'fa-code-fork'}} {{#link-to 'projects' projectid}}{{project}}{{/link-to}}</span>
	<span class="card-ticket">{{fa-icon 'fa-ticket'}} {{id}}</span>
	<span class="card-updated">{{fa-icon 'fa-clock-o'}}
	{{#if updated}}
		{{moment-from-now updated}}
	{{else}}
		No time
	{{/if}}
	</span>

</div>