<div class="container">

	<h3>Dashboard</h3>

	<section id="dashboard" class="row">
		<div class="two-thirds column search {{if isFocused 'input--filled' ''}}">
			{{search-box value=search id="search-box" focus-in="focused" type="search" focus-out="checkFocused"}}
			<label class="inputLabel" for="search-box" >
				<span class="labelContent" data-content="Search">Search</span>
			</label>
		</div>
		<div class="one-third column">
			<p class="note card">
				The search allows you to look through issues and projects - ultimately enabling you too add multiple ones and to generate an activity graph.
			</p>
		</div>
	</section>

	<hr />

		{{!-- {{#each queryResults as |results index|}}
	    	{{project-chart model=model id=model.project.id}}
	    {{/each}} --}}


	<section>

	{{#if currentlyLoading}}

		<p>{{fa-icon "fa-circle-o-notch" spin=true}} Grabbing data...</p>

	{{else}}

		{{#if search}}
			<h5>Here are the results for <strong>{{search}}</strong></h5>
			<p>Displaying {{queryResults.length}} results</p>
		{{else}}
			<h5>Latest tickets:</h5>
		{{/if}}

		<div class="masonry">
	    {{#each queryResults as |result index|}}
	    	{{#link-to 'issues' result.id}}
	        	{{#issue-detail-card id=result.id updated=result.updated_on projectid=result.project.id project=result.project.name}}
					{{result.subject}}
				{{/issue-detail-card}}
			{{/link-to}}
	    {{/each}}
	    </div>

	{{/if}}

	</section>
</div>