<div class="container">

	<h5>Issue {{model.issues.id}}</h5>

	<section class="row">

		<div class="one-half column">
			<p>
			<strong>Ticket #</strong> {{model.issues.id}}<br />
			<strong>Project:</strong>
			{{#link-to 'projects' model.issues.project.id}}
			{{model.issues.project.name}}
			{{/link-to}}<br />
			<strong>Tracker:</strong> {{model.issues.tracker.name}}<br />
			<strong>Priority:</strong> {{model.issues.priority.name}}<br />
			<strong>Author:</strong>
			{{#link-to 'users' model.issues.author.id}}
			{{model.issues.author.name}}
			{{/link-to}}
			</p>
		</div>
		<div class="one-half column">
			<strong>Status:</strong> {{model.issues.status.name}}<br />
			<strong>Last updated:</strong> {{moment-from-now model.issues.updated_on}}<br />
			<strong>Created:</strong> {{moment-format model.issues.created_on 'LL'}}<br /><br />
			<strong>Assigned to:</strong>
			{{#if model.issues.assigned_to}}
				{{#link-to 'users' model.issues.assigned_to.id}}
				{{model.issues.assigned_to.firstname}} {{model.issues.assigned_to.lastname}} Link
				{{/link-to}}
			{{else}}
				No person assigned
			{{/if}}
		</div>
	</section>

	<hr />

	<h5>{{model.issues.subject}}</h5>
	<p id="full-description">{{model.issues.description}}</p>

	<hr />

	<h5>Activity</h5>

	{{#if issueActivity}}
		{{issue-chart model=model.issues}}
	{{else}}
		<p>There was no activity on this ticket</p>
	{{/if}}

{{!-- 	{{#each-in model.journals as |journals|}}
	    {{model.journals.user.name}}: {{moment-format model.journals.created_on}}<br/>
	{{else}}
		<p>There was no activity.</p>
	{{/each-in}} --}}
</div>